<%= stylesheet_link_tag params[:controller] %>

<h1 class="page-heading">Tools</h1>
<%= link_to 'Add Tool', new_tool_path, class: 'btn btn-primary btn-lg' %>

<%= render 'shared/tools_list', :tools => @tools %>
