<h1><%= @tool.name %></h1>

<!--<div class="proj_area">
  <strong>Owner:</strong><br/>
  <%#= @project.owner %>
</div>-->

<div class="detail_description">
  <%= @tool.description %>
</div>

<div class ="related_projects">
  <% @related_projects.each do |project| %>
      <div class="result">
        <label class="name"><%= link_to project.name, project %></label>
        <div class="desc"><%=project.description[0..200] + "..." %></div>
      </div>
      <% end %>
</div>