<h1>Search Results for "<%=@search_term %>"</h1>

<% unless @results.blank? %>
    <% @results.each do |result_type, result_group| %>
        <div class="result_type">
            <h2><%= result_type.underscore.humanize.split.map(&:capitalize).join(' ') %>s</h2>
            <% result_group.each do |p_result, p_name| %>
                <div>
                    <h3><%= link_to p_name.name, p_result.searchable_type.downcase + 's/' + p_result.searchable_id.to_s %></h3>
                    <p><%=p_result.content[0..200] + '...' %></p>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>