<h2><%= @project_type.name %></h2>

<!--<div class="proj_area">
  <strong>Owner:</strong><br/>
  <%#= @project.owner %>
</div>-->

<div class="detail_description">
  <%= @project_type.description %>
</div>