<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	var num = 0;
  $("#add").click(function(){
  	num = num + 1;
	var skill_name = "skill_name_" + num;
	var skill_description = "skill_description_" + num;
  	var name_input = "<input type='text' name='" + skill_name + "'></input>";
  	var decs_input = "<textarea name='" + skill_description + "'></textarea>";
  	var txt1="<div class='field'><label>name</label>" + name_input + "</div>";
	var txt2="<div class='field'><label>description</label>" + decs_input + "</div>"; //description

    $("#skill_additions").append("<div>" + txt1 + txt2 + "</div>");
  });
});
</script>

<div id="skill_adder">
	<div id="add" style="width:100px; display:block; cursor:pointer">New skill/tool</div>
	<div id="skill_additions"></div>
</div>
