<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#add-button").click(function(){
    $("#tool_additions").append($("<%= escape_javascript(render('shared/projects_tools_fields', :f => f)) %>"));
  });
});
</script>

<div id="tool_adder" class="adder">
	<div id="tool_additions"></div>
	<div id="add-button" class="btn btn-default">Add New Tool</div>
</div>
