<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  var num = 0;
  $("#add").click(function(){
  	num = num + 1;
    $("#tool_additions").append($("<%= escape_javascript(render('shared/projects_tools_fields', :f => f)) %>"));
  });
});
</script>

<div id="tool_adder">
	<div id="tool_additions"></div>
	<div id="add" >add a new tool to this project</div>
</div>
