<% if @tools.blank? || @tools.length <= 0 %>
    <h1>:-(</h1>
<% else %>
    <% (0..@tools.length/3).each do |row_count| %>
        <div class="row">
          <% col_count = 0 %>
          <% while col_count < 3 %>
              <% tool = @tools.all[(row_count * 3) + col_count] %>
              <% if tool.present? %>
                  <div class="col-sm-6 col-md-4">
                    <div class="card-height flip">
                      <div class="card">
                        <div class="face front">
                          <div class="card-content card-height">
                            <h2><%= tool.name %></h2>
                          </div>
                        </div>
                        <div class="face back">
                          <div class="card-content card-height">
                            <h2 class="fill"><%= link_to tool.name.truncate(22), tool %></h2>
                            <p><%= tool.description[0..100] + '...' %></p>
                            <div class="small-scroll">
                              <% tool.projects[0..8].each do |project| %>
                                  <%= link_to project.name, project, class: 'btn btn-info', 'role'=>'button' %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <% else %>
                  <% break %>
              <% end %>
              <div class="clearfix visible-xs-block"></div>
              <% col_count += 1 %>
          <% end %>
        </div>
    <% end %>
<% end %>

<script type="text/javascript">
    /* card flip */
    $(".flip").hover(function(){
        $(this).find(".card").toggleClass("flipped");
        return false;
    });
</script>
