<% unless @results.blank? %>
	<h1>Search Results for "<%=@search_term %>"</h1>

    <% @results.each do |result| %>
        <div>
            <h2><%= link_to result.name, result %></h2>
            <p><%=result.description[0..200] + '...' %></p>
        </div>
    <% end %>
    
<% end %>

