<% unless @results.blank? %>
	<h1>Search Results for "<%=@search_term %>"</h1>

    <% @results.each do |result| %>
        <div>
        	<% if result.searchable_type.downcase == "projecttype" %>
				<% result.searchable_type = "project_type" %>
				<% display_type = "project type" %>
			<% else %>
				<% display_type = result.searchable_type.downcase %>
            <% end %>
           
            <h2><%= link_to display_type, result.searchable_type.downcase + 's/' + result.searchable_id.to_s %></h2>
            <p><%=result.content[0..200] + '...' %></p>
        </div>
    <% end %>
    
<% end %>

