<%= stylesheet_link_tag "edit_project" %>

<h1 class="page-heading">Editing Project</h1>
<div class="edit-links">
  <%= link_to 'Back', projects_path, {class: "btn btn-default"} %>
  <%= link_to 'Go To Project', @project, {class: "btn btn-primary"} %>
</div>

<%= render 'form' %>


