<%= form_tag gh_create_path do %>
  <div class="form-group">
	<b>Github Project</b>
	<br/>
	username:
  	<input name="gh_user" id="user" type="text" autofocus="autofocus" class="form-control" />
  	repo:
  	<input name="gh_repo" id="repo" type="text" class="form-control" />
  </div>
  
  <%= submit_tag 'make it so', class: 'btn btn-primary btn-lg form-submit' %>

<% end %>
		
