
<h1 class="page-heading">Projects</h1>
<%= link_to 'Add Project', new_project_path, class: 'btn btn-primary btn-lg' %>

<div class="row">
  <% @projects.each do |project| %>
      <div class="col-xs-4 card">
        <h2><%= link_to project.name, project %></h2>
        <p class="lead"><%= project.description[0..100] + '...' %></p>
        <% project.tools.each do |tool| %>
          <button class="btn btn-info"><%= tool.name %></button>
        <% end %>
      </div>
      <div class="clearfix visible-xs-block"></div>
  <% end %>
</div>

