<p id="notice"><%= notice %></p>

<div class="proj_area">
  <strong>Name:</strong><br/>
  <%= @project.name %>
</div>

<!--<div class="proj_area">
  <strong>Owner:</strong><br/>
  <%#= @project.owner %>
</div>-->

<div class="proj_area">
  <strong>Description:</strong><br/>
  <%=@project.description[0..100] + "..." %>
</div>

<div class="proj_area tools">
  <strong>tools used on this project:</strong><br/>
  	<% unless @skill_list.empty? %>
	  <% @skill_list.each do |skill| %>
	  	<ul>
	  		<li><%= link_to skill, skill_detail_path(skill) %></li>
	  	</ul>
	  <% end %>
	<% end %>
</div>
