<h3>project "<%= @project.name %>"</h3>

<div class="detail_type">
  type: <%= @project.project_type.name %>
</div>
<!--<div class="proj_area">
  <strong>Owner:</strong><br/>
  <%#= @project.owner %>
</div>-->

<div class="detail_description">
  <%= @project.description %>
</div>

<h4>Tools used:</h4>
<div class="proj_area tools">
  	<% unless @tool_list.empty? %>
      <div class="project_tools">
          <% @tool_list.each do |tool| %>
            <div class="project_tool"><%= link_to tool, tool_detail_path(tool) %></div>
          <% end %>
      </div>
	<% end %>
</div>
