<h1><%= @project.name %></h1>

<!--<div class="proj_area">
  <strong>Owner:</strong><br/>
  <%#= @project.owner %>
</div>-->

<div class="detail_description">
  <%= @project.description %>
</div>

<h2>Tools used to build this <%= @project.project_type.name %></h2>
<div class="proj_area tools">
  	<% unless @project.projects_tools.empty? %>
      <ul class="project_tools">
          <% @project.projects_tools.each do |project_tool| %>
            <li class="project_tool"> <%= link_to project_tool.tool.name, tool_path(project_tool.tool) %></li>
          <% end %>
      </ul>
	<% end %>
</div>
