body {
  padding-top: 50px;
  font-size: 16px;
}

.career-box {
  padding: 40px 15px;
  text-align: center;
}

#fixed-width {
  width:100px;
  float:right;
}
#fluid.row-fluid {
  margin-right:100px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.row {
  margin-top: 20px;
}

.card-content {
  background-color: #4e5d6c;
  margin-bottom: 10px;
  padding: 15px;

}
.card-content h2 {
  margin-top: 0px;
}
.card-height {
  height: 250px;
}
.btn-info {
  margin-top: 5px;
}
.navbar, label, .checkbox label {
  font-size: 16px;
}
.navbar-brand {
  font-size: 24px;
}
.field {
  margin-bottom: 20px;
}
.adder {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-submit {
  margin-bottom: 20px;
}
#add-button{
  font-style: italic;
}
