.page-heading {
  display: inline-block;
  margin-right: 59%;
  vertical-align: text-bottom;
}
.edit-links {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: text-bottom;
  a {
    margin-left: 10px;
  }
}