body {
  background: image_url("landing.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  opacity: 0.95;
  margin-top: 2%;
}
.btn-lg {
  width: 300px;
  margin-right: 30px;
  margin-top: 20px;
}
.buttons {
  text-align: center;
  margin-top: 40px;
}
