body {
  background-image: image_url("landing.jpg");
}
.jumbotron {
  opacity: 0.95;
  margin-top: 2%;
}
.btn-lg {
  width: 25%;
  margin-right: 30px;
}
.buttons {
  text-align: center;
  margin-top: 60px;
}