body {
  background: image_url("landing.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  opacity: 0.95;
  margin-top: 2%;
}
.btn-lg {
  width: 25%;
  margin-right: 30px;
}
.buttons {
  text-align: center;
  margin-top: 60px;
}

.result_type {
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 48%;
}
