#project_details {display:block; float:left; width:49%}

#project_skills {display:block; float:left; width:49%}

.actions {display:block; float:left; width:100%; margin:0px auto}

li {cursor:pointer}
