#project_details {display:block; float:left; width:49%}

#project_tools {display:block; float:left; width:49%}

.actions {display:block; float:left; width:100%; margin:0px auto}

li {cursor:pointer}

.proj_area {display:block; float:left; width:100%; margin-bottom:30px}

.tools li {width:30%; clear:both; border:none; background-color:#5CED87; height: 30px; margin-bottom: 3px; line-height: 30px; padding-left: 10px;
  a {text-decoration:none; color:#000; display: block;}
}
