#project_details {display:block; float:left; width:100%}

#project_tools {margin-top: 20px; display:block; float:left; width:100%; background-color:#B5DBF4; -moz-border-radius: 10px; border-radius: 10px; }

#project_tools_inner {margin:10px}

.actions {display:block; float:left; width:100%; margin:0px auto}

li {cursor:pointer}

.proj_area, .proj_description {display:block; float:left; width:100%; margin-bottom:30px}

.tools li {width:30%; clear:both; border:none; background-color:#5CED87; height: 30px; margin-bottom: 3px; line-height: 30px; padding-left: 10px;
  a {text-decoration:none; color:#000; display: block;}
}

.tool {float:left; display:block; width: 100%; height:30px}

.tool div {float:left; display:block; width: 400px; margin-left: 20px}
