.page-heading-inline {
  display: inline-block;
  vertical-align: middle;
}
.edit {
  vertical-align: middle;
  margin-top: 21px;
}
.detail_description {
  margin: 25px 0;
}
.well h1 {
  margin-top: 0;
}