
<div id="nav_inner">
	<span id="home">
		<%= nav_link_to 'search', home_path %>
	</span>
	<span id="tools">
		<%= nav_link_to 'tools', tools_path %>
	</span>
	<span id="projects">
		<%= nav_link_to 'projects', projects_path %>
	</span>
	<span id="project_types">
	  	<%= nav_link_to 'project types', project_types_path %>
	</span>
</div>